/* Dummy elements */
.dummy {
	text-align: left;
	padding: 1em;
	min-height: 300px;
	margin: 0 auto;
	font-weight: 300;
}
.dummy-menu {
	max-width: 100%;
	padding: 2em 1em;
}

.dummy-menu ul,
.dummy-team ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 0 3em;
}

.dummy-menu ul li {
	display: inline-block;
	position: relative;
	margin: 0 1em;
	font-size: 1em;
}

.dummy-menu ul li a {
	display: inline-block;
	font-weight: 700;
	padding: 0.15em 0.25em 0;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}
